.alert_images{
    width: 30px;
    
}

.product_container{
    margin-top: 30px;
    box-shadow: 3px 2px 3px rgba(2, 65, 159, 0.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
    border-radius: 30px;
    
}

.product_beneath_id{
    font-size: 10px;
    margin-left: 70px;
    margin-top: -20px;
   
}

span{
    
    font-size: 1.2rem;
}

.status_text{
    color: rgb(237, 63, 0);
}

.product_id{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(9, 9, 128);
}


p{
    color: darkblue;
}

.product_header{
    text-align: center;
    padding-top: 30px;
    border-bottom: 3px red solid;
    border-radius: 50%;
    padding-bottom: 20px;
    border-top: 3px blue solid;
    margin-bottom: 30px;
}

.country_text{
    
    color: black;
}

.shipping_date{
    font-size: 1.1rem;
    color: green;
}

.line_image{
    height: 20px;
    width: 50px;
}

.top_row_container{
    display: flex;
    justify-content: space-between;
}

.parent_flex_kill{
    display: flex;
}

.morroco_handler{
    margin-left: 14rem;
    margin-top: -2.7rem;
}

.myreference{
    margin-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 3px rgb(10, 125, 131) solid;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}